@page
@{
    ViewData["Title"] = "Pushy";
}

<a href="https://github.com/ThreeMammals/Pushy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
    

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">ThreeMammals</a></li>
        <li><a href="/ocelot">Ocelot</a></li>
        <li><a href="/pushy">Pushy</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <!-- <img src="~/images/ocelot_logo.png" alt="Unsplashed background img 1" class="center ocelot-logo"> -->
                <br><br/>
                <h5 class="header col s12 dark">Pushy: Open Source Headless Wordpress</h5>
            </div>
            <div class="row center">
                <a href="https://github.com/ThreeMammals/pushy/blob/master/README.md" id="download-button" class="btn-large waves-effect waves-light blue">Get Started</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/images/background0.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Big Picture</h5>

                    <p class="light">
                        Pushy is an open source Wordpress plugin that pushes data out of wordpress in the form of events. This enables using Wordpress as a headless CMS. That is rather than user requests for content hitting Wordpress for rendering etc you can create your own UI using whatever technology you want.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Open Source</h5>

                    <p class="light">
                        Pushy is open source first. We make all features available to any user who wants to use it :)
                        Our priority is to build a sustainable vibrant community for the future.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>

                    <p class="light">
                        We have provided detailed documentation as well as specific code examples to help new users get started.
                        We are also always open to feedback and can answer any questions a user may have about Pushy.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 black-text">Open Source Headless Wordpress</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/images/background6.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <!-- <h4>Customers</h4>
                     <a href="https://customers.microsoft.com/en-us/story/tencent-telecommunications-dotnetcore"><img src="~/images/tencent.jpg" alt="Tencent"></a>
                     <a href="https://github.com/dotnet-architecture/eShopOnContainers"><img src="~/images/microsoft.jpg" alt="Microsoft"></a> -->
            </div>
        </div>
    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 black-text">Open Source Headless Wordpress</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/images/background5.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Bio</h5>
                <p class="grey-text text-lighten-4">
                    We are a team of professional software engineers working on these projects in our spare time.
                    Any help or support is greatly appreciated.
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/ThreeMammals/Pushy">GitHub</a></li>
                    <li><a class="white-text" href="https://github.com/ThreeMammals/pushy/blob/master/README.md">Documentation</a></li>
                    <li><a class="white-text" href="https://packagist.org/packages/three-mammals/pushy">Packagist</a></li>
                    <!-- <li><a class="white-text" href="https://ci.appveyor.com/project/TomPallister/ocelot-fcfpb">AppVeyor</a></li> -->
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a href="mailto:tom@threemammals.com" class="white-text">Email</a></li>
                    <li><a class="white-text" href="https://www.linkedin.com/company/threemammals/">LinkedIn</a></li>
                    <li><a class="white-text" href="https://twitter.com/ThreeMammals">Twitter</a></li>
                        @*<li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>&copy; 2018 - ThreeMammals</p>
        </div>
    </div>
</footer>
